.checkout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: large;
    .formCheckout{
        display: flex;
        flex-direction: column;
        width:50%;
        gap: 1rem;
        height: 80%;
        
        button{
            font-size: 1em;
            align-self: flex-end;
            width:fit-content;
        }
        input{
            font-size: 1em;
            height: 4rem;
            
           
        }


    }

    
}
.compraFinalizada{
    font-family: $font-secondary;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    font-size: large !important; 
    font-weight: bolder !important;
    button{
        width: fit-content;
        font-size: 1em;
    }
}