/*Variables*/
/* variables */
/*MAPA REDES*/
/*MAPA FONT_SIZE*/
/*Normalice*/
/*imports*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@1,100&display=swap");
/*normalize*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*globals*/
html {
  font-size: 62.5%; }

ul {
  list-style: none;
  margin: 0; }

a {
  text-decoration: none;
  color: #0b0c0d;
  display: inline-block; }

#root {
  font-family: "Bebas Neue", cursive;
  color: #0b0c0d;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh; }

.navbar {
  padding: 0; }

ol, ul {
  padding-left: 0; }

.footerApp {
  background: rgba(242, 237, 229, 0.5);
  height: 10rem;
  z-index: 1; }
  .footerApp .footerAppNav {
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .footerApp .footerAppNav .footerAppList {
      height: 5rem;
      display: flex;
      flex-direction: row;
      flex-basis: 50%;
      justify-content: space-between; }
      .footerApp .footerAppNav .footerAppList .footerAppListItem img {
        height: 5rem; }

.navBarApp {
  background: rgba(242, 237, 229, 0.5);
  width: 100%;
  height: 10rem;
  z-index: 1; }
  .navBarApp .navBar {
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    object-fit: contain; }
    .navBarApp .navBar .cartImg {
      height: 5rem; }
    .navBarApp .navBar img {
      height: 10rem; }
    .navBarApp .navBar .navBarLinks {
      flex-basis: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 2.2em;
      align-items: center; }
      .navBarApp .navBar .navBarLinks .navBarDropdown {
        font-size: 0.7em; }

.home {
  justify-content: center;
  align-items: center; }
  .home button {
    z-index: 5; }
  .home .picture {
    background-color: rgba(242, 237, 229, 0.5);
    border-radius: 50%;
    height: 36rem;
    width: 36rem;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    z-index: 1; }
    .home .picture .principal_bakery__img {
      position: absolute;
      z-index: -1; }

.slider {
  height: 100%;
  width: 100%;
  z-index: -1; }
  .slider__content {
    height: inherit;
    width: inherit;
    z-index: 1; }
    .slider__content .carousel-item {
      height: inherit;
      width: inherit; }
      .slider__content .carousel-item img {
        object-fit: cover;
        width: 100%;
        height: 100%; }

.itemList {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  padding: 2rem 0 2rem 0;
  gap: 5rem; }

.itemCard {
  width: 30rem;
  background: rgba(242, 237, 229, 0.5); }
  .itemCard img {
    height: 20rem; }
  .itemCard h1 {
    text-align: center; }
  .itemCard p {
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder; }
  .itemCard button {
    font-size: 2em;
    background-color: goldenrod; }

.itemDetail {
  display: flex;
  height: 100%;
  width: 50%; }
  .itemDetail .itemDetailCard {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-self: center;
    gap: 2rem; }
    .itemDetail .itemDetailCard .itemDetailPicture {
      flex-basis: 50%;
      align-items: center;
      height: 80%; }
      .itemDetail .itemDetailCard .itemDetailPicture img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .itemDetail .itemDetailCard .itemDetailText {
      text-align: center;
      flex-basis: 50%; }
      .itemDetail .itemDetailCard .itemDetailText p {
        font-size: medium; }
      .itemDetail .itemDetailCard .itemDetailText .navBtn {
        font-size: medium;
        width: 50%;
        height: 4rem;
        background-color: darkgoldenrod;
        border: 1px solid black; }
      .itemDetail .itemDetailCard .itemDetailText .itemCount {
        padding: 1px;
        font-size: medium; }
        .itemDetail .itemDetailCard .itemDetailText .itemCount .btnQty {
          font-size: medium; }
