/*Variables*/
/* variables */
/*MAPA REDES*/
/*MAPA FONT_SIZE*/
/*Normalice*/
/*imports*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@1,100&display=swap");
/*normalize*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*globals*/
html {
  font-size: 62.5%; }

ul {
  list-style: none;
  margin: 0; }

a {
  text-decoration: none;
  color: #0b0c0d;
  display: inline-block; }

#root {
  font-family: "Bebas Neue", cursive;
  color: #0b0c0d;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh; }

body {
  min-height: 100vh; }

.navbar {
  padding: 0; }

ol, ul {
  padding-left: 0; }

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0%; }

.footerApp {
  background: rgba(242, 237, 229, 0.5);
  height: 10rem;
  z-index: 1; }
  .footerApp .footerAppNav {
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .footerApp .footerAppNav .footerAppList {
      height: 5rem;
      display: flex;
      flex-direction: row;
      flex-basis: 50%;
      justify-content: space-between; }
      .footerApp .footerAppNav .footerAppList .footerAppListItem img {
        height: 5rem; }

.navBarApp {
  background: rgba(242, 237, 229, 0.5);
  width: 100%;
  height: 10rem;
  z-index: 1; }
  .navBarApp .navBar {
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    object-fit: contain; }
    .navBarApp .navBar .cartImg {
      height: 5rem; }
    .navBarApp .navBar img {
      height: 10rem; }
    .navBarApp .navBar .navBarLinks {
      flex-basis: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 2.2em;
      align-items: center; }
      .navBarApp .navBar .navBarLinks .navBarDropdown {
        font-size: 0.7em; }

.home {
  justify-content: center;
  align-items: center; }
  .home button {
    z-index: 5; }
  .home .picture {
    background-color: rgba(242, 237, 229, 0.5);
    border-radius: 50%;
    height: 36rem;
    width: 36rem;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    z-index: 1; }
    .home .picture .principal_bakery__img {
      position: absolute;
      z-index: -1; }

.slider {
  height: 100%;
  width: 100%;
  z-index: -1; }
  .slider__content {
    height: inherit;
    width: inherit;
    z-index: 1; }
    .slider__content .carousel-item {
      height: inherit;
      width: inherit; }
      .slider__content .carousel-item img {
        object-fit: cover;
        width: 100%;
        height: 100%; }

.itemList {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  padding: 2rem 0 2rem 0;
  gap: 5rem; }

.itemCard {
  width: 30rem;
  background: rgba(242, 237, 229, 0.5); }
  .itemCard img {
    height: 20rem; }
  .itemCard h1 {
    text-align: center; }
  .itemCard p {
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder; }
  .itemCard button {
    font-size: 2em;
    background-color: goldenrod; }

.itemDetail {
  display: flex;
  height: 100%;
  width: 50%; }
  .itemDetail .itemDetailCard {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-self: center;
    gap: 2rem; }
    .itemDetail .itemDetailCard .itemDetailPicture {
      flex-basis: 50%;
      align-items: center;
      height: 80%; }
      .itemDetail .itemDetailCard .itemDetailPicture img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .itemDetail .itemDetailCard .itemDetailText {
      text-align: center;
      flex-basis: 50%; }
      .itemDetail .itemDetailCard .itemDetailText p {
        font-size: medium; }
      .itemDetail .itemDetailCard .itemDetailText .navBtn {
        font-size: medium;
        width: 50%;
        height: 4rem;
        background-color: darkgoldenrod;
        border: 1px solid black; }
      .itemDetail .itemDetailCard .itemDetailText .itemCount {
        padding: 1px;
        font-size: medium; }
        .itemDetail .itemDetailCard .itemDetailText .itemCount .btnQty {
          font-size: medium; }

.cart {
  font-size: x-large; }
  .cart .cartItem img {
    width: 10rem;
    height: 10rem;
    object-fit: cover; }
  .cart button {
    font-size: large; }

.titleCb {
  font-size: 3.5rem;
  text-align: center;
  padding-top: 2rem; }

.mainNosotros {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  height: 100%;
  justify-self: center; }
  .mainNosotros .mainNosotrosImg {
    flex-basis: 50%;
    height: 80%;
    width: 40%; }
    .mainNosotros .mainNosotrosImg img {
      height: 100%;
      width: 100%; }
  .mainNosotros .mainNosotrosText {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-style: rgba(242, 237, 229, 0.5);
    font-size: medium;
    justify-content: center; }
    .mainNosotros .mainNosotrosText .mainNosotrosHistoria {
      text-align: center; }

.mainContactanos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Bebas Neue", cursive; }
  .mainContactanos h1 {
    font-size: 4em;
    font-weight: bolder; }
  .mainContactanos .infoFormDiv {
    display: flex;
    justify-content: space-between;
    height: 80%;
    gap: 2rem; }
    .mainContactanos .infoFormDiv h3 {
      font-weight: bold;
      font-size: 3em; }
    .mainContactanos .infoFormDiv .informacionContacto {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      height: 80%; }
      .mainContactanos .infoFormDiv .informacionContacto p {
        font-size: 2em; }
      .mainContactanos .infoFormDiv .informacionContacto iframe {
        height: 100%;
        width: 100%; }
    .mainContactanos .infoFormDiv .formContacto {
      font-size: 2em;
      display: flex;
      flex-direction: column;
      width: 100%;
      flex-basis: 50%;
      justify-content: space-between;
      height: 80%; }
      .mainContactanos .infoFormDiv .formContacto input {
        font-size: 1em;
        height: 4rem; }
      .mainContactanos .infoFormDiv .formContacto textarea {
        height: 100%;
        font-size: 1em; }

.emptyCart {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .emptyCart img {
    width: 300px;
    height: 300px; }
  .emptyCart h1 {
    font-size: 6em; }
  .emptyCart h3 {
    padding-top: 2rem;
    font-size: 4em; }

.galeriaProductos {
  height: 90%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 45% 45%;
  grid-template-areas: "pan cat cat" "pan con tor";
  justify-content: space-around;
  align-content: space-around;
  align-self: center; }
  .galeriaProductos .pan {
    grid-area: pan; }
  .galeriaProductos .cat {
    grid-area: cat; }
  .galeriaProductos .con {
    grid-area: con; }
  .galeriaProductos .tor {
    grid-area: tor; }
  .galeriaProductos .galeriaItem h2 {
    position: relative;
    text-align: center;
    bottom: 5rem;
    left: 2rem;
    font-size: 3rem;
    border-radius: 1rem;
    background-color: rgba(242, 237, 229, 0.5);
    width: fit-content; }
  .galeriaProductos .galeriaItem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2rem; }

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: large; }
  .checkout .formCheckout {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
    height: 80%; }
    .checkout .formCheckout button {
      font-size: 1em;
      align-self: flex-end;
      width: fit-content; }
    .checkout .formCheckout input {
      font-size: 1em;
      height: 4rem; }

.compraFinalizada {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  font-size: large !important;
  font-weight: bolder !important; }
  .compraFinalizada button {
    width: fit-content;
    font-size: 1em; }
