
/*imports*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@1,100&display=swap');

/*normalize*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*globals*/

html {
    font-size: 62.5%;

}

ul {
    list-style: none;
    margin: 0;
}

a {
    
    text-decoration: none;
    color: $secondari;
    display: inline-block;
}

#root {
    font-family: $font-primary;
    color: $secondari;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

}
body{
    min-height: 100vh;
}

.navbar{
    padding: 0;
}
ol, ul {
    padding-left: 0;
  }

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0%;

}