/* variables */
$principal: rgba(242, 237, 229, 0.5);
$secondari: #0b0c0d;
$font-primary: 'Bebas Neue', cursive;
$font-secondary: 'Montserrat', sans-serif;

/*MAPA REDES*/
$redes:(instagram: #ff7dd8,
    facebook: #4fa8fb,
    whatsapp: #009929,
    telegram: #49a4f5);


/*MAPA FONT_SIZE*/

$font-size:(
    small: 1.2em,
    medium: 1.7em,
    large: 2.2em,
    x-large: 2.7em


);
